:root {

    --green: #88b361;
    --yellow: #ffae33;
    --grey: #ffffff;
    --black: #212121;
    --white: #f0f0f0;
    --dark-white: #a8a8a8;
    --blk: #d4d4d4;

    --font1: "Poppins", serif;
}